{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "30",
          "ie": "9"
        }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]

}
