.text-style {
    color: #fdfdfd;
    //color: #a0a4a7;
    //color: #2b2b2b;
}

.error-style {
    color: #d1473c;
}

.comment-style {
    color: #1183ff;
}

.code-block {
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    white-space: nowrap;
    max-width: 50vw;
    overflow: auto;
    padding: 5px;
    //background: #e0e0e0;
}

.error-string {
    color: #d1473c;
}

.text-setter-style {
    color: #e0e0e0;
}
