@import (css) "~bootstrap/dist/css/bootstrap.css";
@icon-font-path: "~bootstrap/fonts/";
@import "code-editor";
@import "entity-list";
@import "panel";
@import "tour-list";
@import "tour";
@import "play-tour";
html,
body,
#container {
  height: 100%;
}
.flex {
  flex: 1;
}
.relative {
  position: relative;
  display: flex;
}

.main-selector {
  //display: block;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

