@import (css) "~bootstrap/dist/css/bootstrap.css";
@icon-font-path: '~bootstrap/fonts/';
@import "entity-list";

.fps-warning {
  color: red;
}
.fill-height {
  height: 100vh;
}
html, body, #container {
  height: 100%;
}

.main-container {
  height: 100%;
}

.panel {
  min-height: 100%;
  border-radius: 0;
  box-shadow: 0;
  margin-bottom: 0;
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
}

.controls {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;

  button {
    height: 100%;
    width: 40px;
    font-size: 14px;

    &:disabled {
      color: #aaa;
    }

    &.activated {
      color: rgb(66, 129, 235);
    }
  }

  .fps {
    display: inline-block;
    padding-right: 20px;
  }
}

.no-connection {
  margin-top: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: 1.05fr 0.95fr 389px;
}
.relative{
  position: relative;
}
.back-drop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  bottom: 0;
  background: rgba(0,0,0, .2);
  display: flex;
}
.code-block{
  width: 100%;
  height: 100%;

}
.tour{
  &:focus{
    background-color: #7ee47c;
    color: #7ee47c;
    outline: 1px solid #dd471e;
  }
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  background-color: #f6f6f6;
  outline: 1px solid #ddd;
}

.tour-time{
  text-align: right;
  color: #939393;
}
.tour-name{

}