@import (css) "~bootstrap/dist/css/bootstrap.css";
@icon-font-path: "~bootstrap/fonts/";
@import "code-editor";
@import "entity-list";
@import "panel";
@import "tour-list";
@import "tour";

html,
body,
#container {
  height: 100%;
}
.flex {
  flex: 1;
}
.relative {
  position: relative;
  display: flex;
}

.mainSelector {
  //display: block;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
}
