.panel {
    //min-height: 100%;
    border-radius: 0;
    margin-bottom: 0;
    display: grid !important;
    grid-template-columns: 3fr 0.5fr 3fr;
}

.error-list {
    font-size: 12px;

    > ul {
        list-style: square;
    }
}
.burger-button {
    padding: 0.45rem 0.7rem 0.5rem 0.6rem !important;
}
.date-save-on-panel {
    color: #6a6a6a;
    //font-size: smaller;
   // margin: 10px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 10px;
}
